Options +FollowSymlinks -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ /~shsair/shsgit/shs_git/index.php?url=$1 [QSA,L]

<files *.php>
	SetOutputFilter DEFLATE
</files>
<files *.js>
	SetOutputFilter DEFLATE
</files>
<files *.css>
	SetOutputFilter DEFLATE
</files>